.header__menu {
  display: flex;
  justify-content: space-around;
  width: 423px;
  list-style-type: none;
  margin: 0;
  margin-left: 188px;
  margin-right: 97px;
  padding: 0;
}

@media (max-width: 1240px) {
  .header__menu {
    margin-left: 0;
    margin-right: 0;
  }
}
