.features__table {
  display: grid;
  grid-template-columns: repeat(3, 338px);
  gap: 110px 10px;
  justify-content: center;
  margin: 0;
  padding: 0;
}

@media (max-width: 1095px) {
  .features__table {
    grid-template-columns: repeat(2, 300px);
  }
}

@media (max-width: 750px) {
  .features__table {
    grid-template-columns: repeat(2, 200px);
  }
}

@media (max-width: 570px) {
  .features__table {
    grid-template-columns: repeat(2, 150px);
  }
}
