.footer__logo {
  margin-top: 51px;
  margin-left: 173px;
  width: 129px;
  height: 41px;
}

@media (max-width: 815px) {
  .footer__logo {
    margin-left: 100px;
  }
}

@media (max-width: 620px) {
  .footer__logo {
    margin-left: 0;
  }
}
