.page {
  font-family: "roboto", "Arial", sans-serif;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  max-width: 1800px;
}
.header {
  margin: 0;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__menu {
  display: flex;
  justify-content: space-around;
  width: 423px;
  list-style-type: none;
  margin: 0;
  margin-left: 188px;
  margin-right: 97px;
  padding: 0;
}
.header__text {
  color: #1c1b1b;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6em;
  cursor: pointer;
}

.header__text:hover {
  opacity: 0.8;
  transition: 0.2s linear;
  text-decoration: underline;
}

.header__contact {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__social {
  padding-right: 12px;
  cursor: pointer;
}
.header__social:last-child {
  padding-right: 0;
}
.header__social:hover {
  opacity: 0.6;
  transition: 0.2s linear;
}

.header__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.17em;
  margin: 0;
}

.header__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17em;
  margin: 0;
  margin-top: 42px;
}

.header__subtitle:nth-of-type(2) {
  margin-top: 0;
}

.header__button {
  color: #fff;
  background-color: #000;
  width: 129px;
  height: 36px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-top: 26px;
}

.header__button:hover {
  opacity: 0.8;
  transition: 0.2s linear;
}

.header__content {
  background-color: #f0efeb;
  display: flex;
  position: relative;
  min-height: 554px;
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 15px;
  margin-right: 379px;
}

.header__image {
  max-width: 599px;
  max-height: 521px;
  position: absolute;
  top: 9px;
  right: 60px;
  z-index: 0;
}

.header__main {
  padding-top: 90px;
  padding-left: 188px;
  z-index: 1;
}
.content {
  margin-top: 55px;
}

.content__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 692px;
  margin: 0 auto;
}

.content__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17em;
  margin: 0;
}

.content__subtitle {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 1.17em;
  margin: 0;
  margin-top: 27px;
  max-width: 632px;
}

.content__subtitle:nth-of-type(2) {
  margin-top: 47px;
  margin-bottom: 88px;
}

.content__cards {
  margin-top: 52px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 309px);
  gap: 63px;
  justify-content: center;
}

.content__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content__card-image {
  width: 309px;
  height: 422px;
}

.content__card-title {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.17em;
  text-align: center;
  max-width: 164px;
  margin: 0;
  margin-top: 27px;
}

.content__card-price {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.17em;
  margin: 0;
  margin-top: 17px;
}

.content__card-subtitle {
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 200px;
  cursor: pointer;
}

.content__card-subtitle:hover {
  opacity: 0.6;
  transition: 0.2s linear;
}

.shop__cards {
  display: grid;
  grid-template-columns: repeat(1, auto-fit);
  margin-top: 51px;
}

.shop__card {
  display: flex;
  align-items: center;
  padding-left: 188px;
  min-height: 652px;
}
.shop__card_opacity30 {
  background-color: rgba(204, 204, 204, 0.3);
}

.shop__card_opacity60 {
  flex-direction: row-reverse;
  background-color: rgba(204, 204, 204, 0.6);
}

.shop__image {
  width: 385px;
  height: 525px;
  padding-right: 50px;
}
.shop__image-reverse {
  padding-right: 0;
  padding-left: 50px;
}

.shop__atricle {
  max-width: 498px;
}
.shop__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17em;
  margin: 0;
}

.shop__card:nth-of-type(2) {
  text-align: right;
  padding-right: 188px;
}

.shop__subtitle {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.17em;
  margin: 0;
  margin-top: 31px;
}

.shop__text {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.17em;
  text-decoration: underline;
  margin: 0;
  margin-top: 40px;
}

.shop__text:hover {
  opacity: 0.6;
  transition: 0.2s linear;
  cursor: pointer;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 190px;
}

.features__table {
  display: grid;
  grid-template-columns: repeat(3, 338px);
  gap: 110px 10px;
  justify-content: center;
  margin: 0;
}
.features__text {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.17em;
  margin: 0;
  margin-bottom: 69px;
  text-align: center;
}

.features__subtitle {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.17em;
  margin: 0;
  text-align: center;
  margin-top: 26px;
}

.features__image {
  width: 70px;
  height: 70px;
  border-radius: 35px;
}
.features__image_blue {
  background: #21f7ec;
}

.features__image_green {
  background: #33d3bc;
}

.features__image_darkBlue {
  background: #18a5c6;
}

.features__image_brown {
  background: #d38f62;
}

.features__image_red {
  background: #f94c43;
}

.features__image_purple {
  background: #d399ff;
}

.review {
  display: flex;
  flex-direction: column;
  position: relative;
}
.review__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 288px);
  gap: 100px;
  justify-content: center;
}

.review:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 47%;
  background: #f0f0f0;
  z-index: -1;
}

.review__image {
  width: 288px;
  height: 351px;
}

.review__header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17em;
  text-align: center;
  margin-top: 163px;
  margin-bottom: 102px;
}

.review__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.17em;
  text-align: center;
  max-width: 272px;
  margin: 0;
  margin-top: 35px;
}

.review__subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.17em;
  text-align: center;
  margin: 0;
  margin-top: 34px;
}

.review__text {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17em;
  text-align: center;
  text-decoration: underline;
  margin: 0;
  margin-top: 44px;
  padding-bottom: 52px;
}

.review__text:hover {
  opacity: 0.6;
  transition: 0.2 linear;
  cursor: pointer;
}
