.header__text {
  color: #1c1b1b;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6em;
  cursor: pointer;
}

.header__text:hover {
  opacity: 0.8;
  transition: 0.2s linear;
  text-decoration: underline;
}
