.header__nav {
  display: flex;
  align-items: center;
}

@media (max-width: 1240px) {
  .header__nav {
    justify-content: space-around;
  }
}

@media (max-width: 740px) {
  .header__nav {
    justify-content: space-between;
  }
}
