.shop__image {
  width: 385px;
  height: 525px;
  padding-right: 50px;
}

@media (max-width: 795px) {
  .shop__image {
    padding-top: 15px;
    padding-right: 0;
  }
}

@media (max-width: 410px) {
  .shop__image {
    width: 80%;
    height: 80%;
  }
}
