.header__main {
  padding-top: 90px;
  padding-left: 188px;
  z-index: 1;
}

@media (max-width: 740px) {
  .header__main {
    padding-left: 100px;
  }
}

@media (max-width: 600px) {
  .header__main {
    padding-left: 50px;
  }
}

@media (max-width: 500px) {
  .header__main {
    padding-left: 20px;
  }
}
