.review {
  display: flex;
  flex-direction: column;
  position: relative;
}

.review:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 47%;
  background: #f0f0f0;
  z-index: -1;
}
