.shop__subtitle {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.17em;
  margin: 0;
  margin-top: 31px;
}

@media (max-width: 1095px) {
  .shop__subtitle {
    font-size: 30px;
  }
}

@media (max-width: 580px) {
  .shop__subtitle {
    font-size: 23px;
  }
}

@media (max-width: 410px) {
  .shop__subtitle {
    font-size: 18px;
    padding: 0 10px 0 10px;
  }
}
